*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	min-height: 100vh;
	background:#020819;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

figure{
	width: 800px;
	height: 500px;
	overflow:hidden;
	border:3px solid #fff;
	position: relative;
}
figure img{
	max-width: 100%;
	min-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	pointer-events: none;
}

